# ActivityWatch dependencies
aw-client>=0.5.13
aw-core>=0.5.12

# Notification GUI and browser components
PyQt6>=6.6.1
PySide6>=6.5.0
PyQt6-Charts>=6.6.0
PyQt6-WebEngine>=6.6.0

# Printing tables
rich

# Misc
python-dateutil>=2.8.2
typing-extensions>=4.5.0
